#about-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-us-text-container {
    width: 90vw;
    height: auto;
    background-color: var(--box-background);
    border-radius: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.4rem;
}

.about-us-text {
    font: 2.4rem Roboto;
    color: var(--background-color);
}

.bulleted-list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

@media screen and (min-width: 700px) {
    .bulleted-list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'first second'
        ;
    }
}

@media screen and (min-width: 1100px) {
    .bulleted-list {
        display: flex;
        flex-direction: row;
    }
}