.nav-container {
    width: 100vw;
    height: 4.5rem;
    background-color: var(--text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    z-index: 999;
}

.logo-img {
    max-width: 5rem;
}

.menu-icon {
    font-size: 1.9rem;
    margin-right: 1rem;
}

.nav-menu-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: absolute;
    width: 100%;
    top: 4.2rem;
    background: var(--text);
    left: 0;
    border-radius: 0 0 2.4rem 2.4rem;
}

.nav-item {
    list-style-type: none;
    margin-top: 0.5rem;
}

.nav-item > a {
    text-decoration: none;
    color: var(--background-color);
    font-size: 1.65rem;
}

.button-navbar {
    background-color: var(--background-color);
    border: none;
    border-radius: 3.6rem;
    height: 2.4rem;
    width: 90vw;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    color: var(--text);
    font-size: 1.4rem;
    text-align: center;
}

.button-navbar:hover {
    color: var(--text);
    text-decoration: none;
}

.fa-bars, .fa-times {
    color: var(--background-color);
}