.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding: 1rem;
    background-color: var(--box-background);
    color: var(--background-color);
    font-size: 1.8rem;
    font-family: Roboto;
    font-weight: lighter;
    border-radius: 3.6rem;
    border: none;
}